 @import "tailwindcss";
 @plugin "daisyui";
 @keyframes slideIn {
  0% { opacity: 0; transform: translateX(-30px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-slide {
  animation: slideIn 0.6s ease forwards;
}
